<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><img src="assets/img/PNG/logo.png" alt="BSGL México"></a>
    <ul class="navbar-nav ms-auto mt-0 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link "  href="#" >Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#especialidades" >Especialidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#servicios" >Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#consultoria"   >Consultoria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >Contacto </a>
      </li>
      
    </ul>
  </div>
</nav>