.custom-font-size-1 {
  color: #000000
}

.text-12 {
  color: #000000;
}

.logo-container {
  backdrop-filter: blur(10px);
  position: absolute;
  padding: 5px;
}

.robot {
  width: 200px;
  height: 200px;
  position: relative;
}

.secondary-container {
  background-color: #959d3a;
}

.margin-top-50{
  margin-top: 50px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-bottom-50{
  margin-bottom: 50px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body,
html,
h1 {
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
}

section {
 
}

h1 {
  display: block;
  text-align: center;
  font-size: 4rem;
}

h2 {
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1s;
}

.content > div {
  margin: 0 auto;
  background-color: #fff;
  width: 50%;
  height: 100%;
  grid-area: 2 / 2 / 5 / 5;
}


.fadeTop {
  opacity: 0; 
  transform: translate(0, 10vh);
  transition: all 1s;
}

.fadeRight {
  opacity: 0;
  transform: translate(10vh, 0vh);
  transition: all 1s;
}

.fadeLeft {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 5s;
}

.fadeLeft2 {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 4s;
}

.fadeLeft3 {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 3s;
}

.fadeLeft4 {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 2s;
}



.fadeAppear {
  opacity: 0;
  transform: scale(0.5, 2);
 /* transform: translate(-10vh, 0vh);*/
  transition: all 2s;  
}

.fadeRotate{
    opacity: 0;
  transform: rotate(180deg);
 /* transform: translate(-10vh, 0vh);*/
  transition: all 1s;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.txt-center{
  text-align: center;
}

.txt-color-withe{
  color: #ffffff;
}




/*******************************tarjetass*************************************************/
.tarjetas{
            /*position: relative;*/
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;            
            
            color: white;
           
         
            
            
        }

        .contenedor{
          border: none;
        }
        .front{
            background: #ffffff;           
            color: #889da3;
            padding: 10px;


        }
        .back{
         background-color: #ffffff;
         color: #889da3;
          text-align:center;
          padding: 10px;
          
        }

        .contenedor:hover > .front{
            transform: rotateY(360deg);
            transition: all 2s;
        }
        .contenedor:hover > .back{
            transform: rotateY(360deg);
            transition: all 2s;
        }
        
/**************************************************************************************/




#inicio{
  background-image: url('../../assets/img/JPG/robot-2.jpeg');

  

/* Create a parallax effect */

background-attachment: fixed;

background-position: center;

background-repeat: no-repeat;

background-size: cover; 


}



.lggrey{
  background: linear-gradient(#889da3, white);
}

.lgorange{
  background: linear-gradient(white, #959d3a);
}


.pdgb-50{
  padding-bottom: 80px;
}
.pdgt-50 {
  padding-top: 80px;
}