<app-header></app-header>

<section class="section section-concept section-no-border section-dark section-angled section-angled-reverse pt-5 m-0" id="inicio" >
  
  <div class="container pt-5 mt-5">
    <div class="row align-items-center pt-3 ">
      <div class="col-lg-5 mb-5"></div>

      <div class="col-lg-6 offset-lg-1 mb-5 scroll-content fadeRight" id="container-video">
        <div class="position-relative border-width-10 border-color-light clearfix border border-radius" >

          <video width="100%" height="100%" autoplay loop>
            <source [src]="video" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-5 custom-header-bar position-relative py-4 pe-5 z-index-2 secondary-container scroll-content fadeLeft" id="secondary-container">
        <div>
          <div class="star-rating-wrap d-flex align-items-center justify-content-center position-relative text-dark text-5 py-2 mb-2">
            <i class="fas fa-star"></i><i class="fas fa-star ms-1"></i><i class="fas fa-star ms-1"></i><i class="fas fa-star ms-1"></i><i class="fas fa-star ms-1"></i>
          </div>

          <h4 class="position-relative text-center font-weight-bold text-7 line-height-2 mb-0">BRINDANDO TECNOLOGÍA PARA AUTOMATIZAR SUS PROCESOS</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid pdgb-50 pdgt-50 lgorange" id="especialidades">
  <div class="container">
  <h3 class="scroll-content fadeTop txt-center"><img src="assets/img/PNG/small-logo2.png" alt="">ESPECIALIDADES</h3>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">


      <div class="card contenedor scroll-content fadeLeft margin-top-10" id="cc1">
             <div class="card-body tarjetas front">
                 <h5>IMPLEMENTACIÓN / INTEGRACIÓN</h5>
                 
             </div>
             <div class="tarjetas back" id="ccb1">
            <p>Diseño de trazado industrial.</p>
            <p>Estudios ergonómicos.</p>
            <p>Análisis de tiempos de productividad</p>
             </div>
         </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      <div class="card contenedor scroll-content fadeTop margin-top-10" id="cc2">
             <div class="card-body tarjetas front">
                 <h5>BANCOS DE PRUEBAS Y MONTAJE</h5>
                 
             </div>
             <div class="tarjetas back" id="ccb2">
              <p>Desarrollado para montaje especifico.</p>
              <p>Bancos de control de calidad.</p>
              <p>Bancos de prueba para equipos eléctricos y neumáticos.</p>
             </div>
         </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      <div class="card contenedor scroll-content fadeRight margin-top-10" id="cc3">
             <div class="card-body tarjetas front">
                 <h5>HERRAMIENTAS</h5>
                 
             </div>
             <div class="tarjetas back" id="ccb3">
              <p>Herramientas de montaje.</p>
              <p>Herramientas de auxilio.</p>
              <p>Herramientas de calidad.</p>
             </div>
         </div>

    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      <div class="card contenedor scroll-content fadeLeft margin-top-10" id="cc4">
             <div class="card-body tarjetas front">
                 <h5>MECANIZADO</h5>
                 
             </div>
             <div class="tarjetas back" id="ccb4">
            <p>Mecanizado de piezas convencionales y especiales.</p>
            <p>Prototipos</p>
            <p>Manufactura de dispositivos para línea de producción</p>
             </div>
         </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      <div class="card contenedor scroll-content fadeTop margin-top-10" id="cc5">
             <div class="card-body tarjetas front">
                 <h5>CALIDAD Y MEDICION</h5>
                 
             </div>
             <div class="tarjetas back" id="ccb5">
         <p>Herramientas de medición 2D diseñadas para la calidad del ensamblaje y el  control de deformidades en la línea de ensamblaje</p><br>
             </div>
         </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

      

    </div>
  </div>

  </div>
</section>

<section class="container-fluid pdgb-50 pdgt-50   lggrey" id="servicios">
  <div class="container">
    <h3 class="scroll-content fadeAppear txt-center text-white"><img src="assets/img/PNG/small-logo2.png" alt="">SERVICIOS</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <div class="card scroll-content fadeLeft" >
          <img src="assets/img/servicios/optimizacion.png" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">Optimización</h5>
            <p class="">Optimización de tiempo de ciclos de la celda de puertas delanteras.</p>
            <p>Optimización de la programación ”trayectoria” de los robots alcanzando el tiempo de producción solicitada por el cliente manteniendo una calidad de producción sin paros.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

        <div class="card scroll-content fadeLeft2" >
          <img src="assets/img/servicios/ergonomia.png" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">Ajuste de Ergonomía</h5>
            <p class="card-text">Servicio de optimización y ajuste de ergonomía en pinzas de soldadura manual.</p>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

        <div class="card scroll-content fadeLeft3" >
          <img src="assets/img/servicios/sello.png" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="font-weight-bold text-color-light text-4 mb-2">Aplicación Sellos</h5>
            <p class="">Instalación de sistema de aplicación de sellos.</p>
            
          </div>
        </div>
      </div>
    
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
              <div class="card scroll-content fadeLeft4" >
                <img src="assets/img/servicios/mantenimiento.png" class="card-img-top " alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mantenimiento</h5>
                  <p class="">Contrato de mantenimiento en sistemas de aplicación de adhesivos</p>
                  <p>Mantenimientos Easy & Full repair en los siguientes componentes;</p>
                  <p>Dosificadores aplicadores y bombas de aplicación.</p>
                  
                </div>
              </div>


        
        <
      </div>

    </div>
  </div>
  


</section>

<section class="container-fluid pdgb-50 pdgt-50   lggrey" id="consultoria">
  <div class="container">
    <h3 class="scroll-content fadeAppear txt-center text-white"><img src="assets/img/PNG/small-logo2.png" alt="">CONSULTORIA</h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</section>

     




<app-footer></app-footer>
